* {
    margin: 0;
    padding: 0;
}

#divID {

    position: absolute;
    top: 0 width: 100vh;
    height: 100%;

    mix-blend-mode: hue;
}

body {
    overflow: hidden;

}

img {
    height: 100vh;
    width: 100%;
}